@import 'src/styles/mixins.scss';

.metric_section {

    display: flex;
    gap: 0px 45px;
    align-items: center;

    .icon_section {
        width: 70px;
        height: 70px;
        border-radius: 15px;
        border: 1px solid var(--gray-border-color-secondary);

        @include flex-center;
    }

    .metric {

        width: 200px;
        .count {
            font-size: 52px;
            font-family: 'Poppins-Light';
            color: var(--text-color-primary);
            margin-bottom: 20px;
        }

        .text {
            font-family: 'Poppins-Regular';
            color: var(--text-color-secondary);
        }
    }
}