.special_skills {
  width: 100%;
  background: var(--bg-color-primary);
  padding: 150px 0px;

  .content_wrapper {
    display: flex;
    gap: 0px 20px;

    .left {
        width: 100%;
        height: 500px;

        .text_section {
            margin-top: 100px;
        }
      }
    
      .right {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px 0px;
      }
  }
}
