@import 'src/styles/mixins.scss';

.introduction {
  background-color: var(--bg-color-primary);
  position: relative;
  width: 100%;
  overflow: hidden;

  .main {
    display: flex;
    justify-content: space-between;

    @include for-tablet-or-mobile {
      display: block;
    }
  }

  .top_left_circle {
    position: absolute;
    height: 500px;
    width: 500px;
    top: 0;
    left: 0;
    transform: translate(-50%, -70%);
  }

  .info {
    margin-left: calc((100% - var(--big-desktop-content-width)) / 2);

    @include for-medium-desktop {
      margin-left: calc((100% - var(--medium-desktop-content-width)) / 2);
    }

    @include for-small-desktop {
      margin-left: calc((100% - var(--small-desktop-content-width)) / 2);
    }

    @include for-tablet-or-mobile {
      margin-left: calc((100% - var(--small-desktop-content-width)) / 2);
    }
  }

  .about {
    color: var(--text-color-primary);
    margin-top: 50px;
    line-height: 1.5;

    font-family: 'Cormorant-Bold';

    @include for-tablet-or-mobile {
      margin-top: 25px;
    }

    .text {
      font-size: 75px;
      position: relative;
      z-index: var(--introduction_z_index);

      @include for-medium-desktop {
        font-size: 60px;
      }

      @include for-small-desktop {
        font-size: 45px;
      }

      @include for-tablet-or-mobile {
        font-size: 45px;
      }

      @include for-mobile-only {
        font-size: 35px;
      }
    }

    .name {
      font-size: 90px;

      @include for-medium-desktop {
        font-size: 75px;
      }

      @include for-small-desktop {
        font-size: 60px;
      }

      @include for-tablet-or-mobile {
        font-size: 60px;
      }

      @include for-mobile-only {
        font-size: 50px;
      }
    }

    .underline {
      position: relative;

      &::after {
        content: '';
        display: block;
        width: 18vw;
        height: 100%;
        position: absolute;
        background: url('/assets/images/name-underline.png') no-repeat;
        bottom: 0px;
        left: -20px;
        top: 6vw;
      }
    }
  }

  .brief_skills {
    font-family: 'Poppins-Regular';
    font-size: 18px;
    max-width: 40%;
    color: var(--text-color-secondary);
    max-width: 450px;
    margin-top: 50px;

    @include for-tablet-or-mobile {
      margin-top: 20px;
    }
  }

  .resume {
    margin: 50px 0 100px 0;
  }

  .bottom_left_circle {
    position: absolute;
    height: 500px;
    width: 500px;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 70%);
  }
}
