@import 'src/styles/mixins.scss';

.career {
  .content {
    @include nav-footer;

    margin: 100px auto;

    .btn_container {
      @include flex-align-justify-spacebw;
      width: 100%;
      gap: 0px 30px;

      .expertise {
        outline: none;
        border: 1px solid var(--gray-border-color-secondary);
        background: var(--bg-color-primary);
        width: 100%;
        padding: 18px;
        text-align: center;
        font-family: 'Cormorant-Regular';
        font-size: 4vw;
        color: var(--text-color-primary);
        cursor: pointer;
        transition:
          border 0.3s,
          background 0.3s linear;

        &.selected {
          background: var(--bg-color-secondary);
          border: 1px solid var(--bg-color-primary);
          transition: all 0.3s linear;
        }
      }
    }
  }
}
