@import 'src/styles/mixins.scss';

.career {
  padding-bottom: 200px;

  @include for-tablet-or-mobile {
    padding-bottom: 0;
  }

  .toggle_exptertise {
    @include flex-align-center;
    @include responsive-width;
    margin: 100px auto;

    @include for-tablet-or-mobile {
      margin: 70px auto;
    }

    .btn_container {
      @include flex-align-justify-spacebw;
      width: 100%;
      gap: 0 30px;

      @include for-tablet-or-mobile {
        gap: 0 20px;
      }

      @include for-mobile-only {
        flex-direction: column;
        gap: 30px 0;
      }

      .expertise {
        outline: none;
        border: 1px solid var(--gray-border-color-secondary);
        background: var(--bg-color-primary);
        width: 100%;
        padding: 18px;
        text-align: center;
        font-family: 'Cormorant-Regular';
        font-size: 50px;
        color: var(--text-color-primary);
        cursor: pointer;
        transition:
          border 0.3s,
          background 0.3s linear;

        &.selected {
          background: var(--bg-color-secondary);
          border: 1px solid var(--bg-color-primary);
          transition: all 0.3s linear;
        }

        @include for-tablet-or-mobile {
          padding: 10px;
          font-size: 40px;
        }

        @include for-mobile-only {
          font-size: 30px;
        }
      }
    }
  }

  .chronology_container {
    animation: content-toggle 1s linear;
    .chronology {
      @include flex-align-center;
      @include responsive-width;
      padding: 0;
      align-items: unset;

      @include for-tablet-or-mobile {
        flex-direction: column;
      }

      .timeline {
        flex: 1.5;
        padding: 40px 0;
        border: 1px solid var(--gray-border-color-secondary);
        border-bottom: unset;
        border-top: unset;
        min-width: 250px;

        @include for-tablet-or-mobile {
          border: 1px solid var(--gray-border-color-secondary);
          padding: 0;
        }

        .duration {
          width: 100%;
          text-align: end;
          padding: 18px 24px;
          font-family: 'Poppins-Regular';
          border-right: 2px solid var(--text-color-primary);
          color: var(--text-color-secondary);
          font-size: 16px;

          @include for-tablet-or-mobile {
            border-right: 8px solid var(--text-color-primary);
            margin: 10px 0;
            text-align: start;
          }

          @include for-mobile-only {
            border-width: 3px;
            margin: 5px;
            padding: 16px 20px;
          }
        }
      }

      &:first-child {
        .timeline {
          border-top: 1px solid var(--gray-border-color-secondary);
          padding: 0;

          @include for-tablet-or-mobile {
            padding: 0;
          }
        }
      }

      &:last-child {
        .timeline {
          border-bottom: 1px solid var(--gray-border-color-secondary);
          padding-bottom: 80px;

          @include for-tablet-or-mobile {
            padding: 0;
          }
        }
      }

      .content {
        flex: 3.5;
        padding-left: 100px;

        @include for-tablet-or-mobile {
          padding-left: unset;
        }

        .title {
          font-family: 'Cormorant-Semibold';
          color: var(--text-color-primary);
          font-size: 40px;

          @include for-tablet-or-mobile {
            margin: 10px 0;
          }

          @include for-mobile-only {
            font-size: 30px;
          }
        }

        .subtitle,
        .description {
          font-family: 'Poppins-Regular';
          color: var(--text-color-secondary);
        }

        @include for-tablet-or-mobile {
          margin-bottom: 70px;
        }
      }
    }
  }
}

@keyframes content-toggle {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
