@import 'src/styles/mixins.scss';

.nav_drawer {
  visibility: hidden;
  transition: all 0.5s linear;

  .overlay {
    position: fixed;
    inset: 0;
    z-index: var(--modal_overlay_z_index);
    background: rgb(0, 0, 0, 0.5);
  }

  .drawer {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    width: 400px;
    transform: translateX(100%);
    padding: 20px;
    background: var(--bg-color-secondary);
    z-index: var(--nav_drawer_z_index);
    transition: inherit;

    @include for-mobile-only {
      width: 300px;
    }

    .close {
      margin: 20px 20px 60px;
      outline: none;
      background: inherit;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid var(--gray-border-color-secondary);
      cursor: pointer;

      @include flex-center;
    }
  }

  &.visible {
    visibility: visible;

    .drawer {
      transform: translateX(0);
    }
  }
}
