@import 'src/styles/mixins.scss';

.card {
  background: var(--bg-color-primary);
  width: 100%;
  padding: 60px;
  display: flex;
  gap: 0 60px;
  border: 1px solid var(--bg-color-secondary);
  transition: all 0.5s linear;

  @include for-tablet-or-mobile {
    padding: 30px;
    gap: 0 30px;
  }

  @include for-mobile-only {
    flex-direction: column;
    gap: 30px 0;
  }

  .serial_no {
    @include flex-center;
    max-width: 100px;
    min-width: 100px;
    height: 100px;
    font-size: 22px;
    font-family: 'Poppins-Medium';
    color: var(--text-color-primary);
    background: var(--bg-color-secondary);

    @include for-tablet-or-mobile {
      min-width: 80px;
      max-width: 80px;
      height: 80px;
      font-size: 18px;
    }

    @include for-mobile-only {
      min-width: 60px;
      max-width: 60px;
      height: 60px;
      font-size: 16px;
    }
  }

  &:hover {
    border: 1px solid var(--gray-border-color-secondary);
    background: var(--bg-color-secondary);

    .serial_no {
      background: var(--bg-color-primary);
    }
  }

  .text_section {
    .heading {
      font-size: 24px;
      font-family: 'Poppins-Medium';
      color: var(--text-color-primary);
      margin-top: 0;

      @include for-tablet-or-mobile {
        font-size: 20px;
      }

      @include for-mobile-only {
        font-size: 18px;
      }
    }

    .description {
      color: var(--text-color-secondary);
      font-family: 'Poppins-Regular';
    }
  }
}
