@font-face {
    font-family: Cormorant-Bold;
    src: url('../../assets/fonts/cormorant-bold.woff2')
}

@font-face {
    font-family: Cormorant-Semibold;
    src: url('../../assets/fonts/cormorant-semibold.woff2')
}

@font-face {
    font-family: Cormorant-Regular;
    src: url('../../assets/fonts/cormorant-regular.woff2')
}

@font-face {
    font-family: Poppins-Regular;
    src: url('../../assets/fonts/poppins-regular.woff2')
}

@font-face {
    font-family: Poppins-Light;
    src: url('../../assets/fonts/poppins-light.woff2')
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../../assets/fonts/poppins-medium.woff2')
}

@font-face {
    font-family: Ico;
    src: url('../../assets/fonts/icofont.woff2')
}