@mixin take-to-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin put-on-circle ($count, $radius, $angle) {


    $rot: 0;

    @for $i from 1 through $count {
        > :nth-of-type(#{$i}) {
          @include take-to-center();
          transform: 
            translate(-50%, -50%)
            rotate($rot * 1deg) 
            translateX($radius) 
            rotate($rot * -1deg);
        }
  
        $rot: $rot + $angle;
      }
}