@mixin colors {
  --bg-color-primary: #242734;
  --bg-color-secondary: #292c39;
  --bg-color-tertiary: #282a37;
  --gray-border-color-secondary: #3b3d49;
  --text-color-primary: #fff;
  --text-color-secondary: #858792;
  --big-desktop-content-width: 70%;
  --medium-desktop-content-width: 80%;
  --small-desktop-content-width: 90%;
  --project-card-gap: 50px;
  --navbar_z_index: 100;
  --introduction_z_index: 20;
  --work_sample_z_index: 1;
  --hero_z_index: 3;
  --floating_btn_z_index: 1000;
  --modal_overlay_z_index: 999;
  --floating_btn_box_shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  --nav_dropdown_z_index: 998;
  --nav_drawer_z_index: 1000;
}
