@mixin colors {
    --bg-color-primary:  #242734;
    --bg-color-secondary: #292c39;
    --bg-color-tertiary: #282a37;
    --gray-border-color-secondary: #3b3d49;
    --text-color-primary: #fff;
    --text-color-secondary: #858792;
    --big-desktop-content-width: 70%;
    --medium-desktop-content-width: 85%;
    --small-desktop-content-width: 90%;
}