@import 'src/styles/mixins.scss';

.projects_carousel {
  width: 100%;
  overflow: hidden;

  .container {
    display: flex;
    align-items: center;
    gap: 0px var(--project-card-gap);
    width: 100%;
  }
}
