@import '../../styles/mixins.scss';

.social {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--bg-color-primary);
  border: 2px solid var(--text-color-primary);
  transition: all 0.5s linear;
  cursor: pointer;
  @include flex-center;

  @include for-tablet-or-mobile {
    width: 50px;
    height: 50px;
  }

  @include for-mobile-only {
    width: 30px;
    height: 30px;
  }

  &:hover {
    background: var(--text-color-primary) !important;
    transition: all 0.5s linear;
    border: 2px solid var(--text-color-primary);
  }
}
