@import 'src/styles/mixins.scss';

.footer {
  background: var(--bg-color-primary);
  border-top: 1px solid var(--gray-border-color-secondary);

  .content {
    @include nav-footer;

    @include for-tablet-or-mobile {
      flex-direction: column-reverse;
      gap: 20px 0;
    }

    padding: 25px 0;

    .text {
      color: var(--text-color-primary);
      font-family: 'Poppins-Regular';

      .secondary {
        color: var(--text-color-secondary);
      }
    }
  }
}
