@import 'src/styles/mixins.scss';

.page_not_found {
  width: 100%;
  background: var(--bg-color-secondary);

  .content {
    @include flex-align-center;
    gap: 0 100px;
    @include responsive-width;

    padding: 100px 0;

    @include for-tablet-or-mobile {
      padding: 60px 0;
      gap: 0 30px;
    }

    @include for-mobile-only {
      flex-direction: column-reverse;
    }

    .info {
      flex: 1;
      flex-shrink: 0;
      .title {
        color: var(--text-color-primary);
        font-family: 'Cormorant-Semibold';
        font-size: 60px;

        @include for-tablet-or-mobile {
          font-size: 40px;
        }
      }

      .subtitle {
        color: var(--text-color-primary);
        font-family: 'Cormorant-Regular';
        font-size: 30px;

        @include for-tablet-or-mobile {
          font-size: 25px;
        }
      }

      .description {
        color: var(--text-color-secondary);
        font-family: 'Poppins-Regular';
      }

      .cta {
        font-size: 14px;
        margin-top: 50px;
        padding: 24px 40px;

        @include for-tablet-or-mobile {
          padding: 20px 25px;
        }

        &::after {
          content: '';
        }

        &::before {
          content: '\ea7b';
          font-family: 'Ico';
        }

        &:hover {
          background: #2e303d;
        }
      }
    }

    .astronaut {
      flex: 1;

      @include for-tablet-or-mobile {
        flex: 1.5;
      }
    }
  }
}
