@import '/src/styles/variables.scss';
@import '/src/styles/fonts.scss';

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {

    overscroll-behavior: none;
    @include colors();

}

.no-vertical-scroll {
    overflow-y: hidden;
}