@import 'src/styles/mixins.scss';

.faq {
  width: 100%;
  background: var(--bg-color-secondary);

  .content {
    @include responsive-width;
    padding: 100px 0;

    display: flex;
    flex-direction: column;
    gap: 40px 0;

    @include for-tablet-or-mobile {
      gap: 30px 0;
      padding: 70px 0;
    }

    @include for-mobile-only {
      padding: 50px 0;
    }
  }
}
